
<div class="df-db">
  <div class="burger-icon"></div>
  <div class="topnav" #ele>
    <a href="#home">Home</a>
    <a href="#Menu">Menu</a>
    <a href="#Gallery">Gallery</a>
    <a href="#Testiminials">Testiminials</a>
    <a href="#contact">Contact</a>
    <a href="javascript:void(0);" class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
 <owl-carousel-o [options]="customOptions" #owlCar>
  <ng-container *ngFor="let slide of images$ | async">
    <ng-template carouselSlide [id]="slide.id" [width]="100" >
      <div class="df-db">
        <div class="Party-Time">Party Time!</div>
        <div class="offer-item">
          <div class="item-1">Buy any 2 burgers and
            get 1.5L Pepsi Free</div>
        </div>
        <div class="Rectangle-282">
          <span class="order-now" >Order Now <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="c-btn l-btn" (click)="owlCar.prev()"></div>
      <div class="c-btn r-btn" (click)="owlCar.next()"></div>
      <img [src]="slide.imageSrc" [alt]="slide.alt" height="440px">
      <img [src]="slide.footersrc" [alt]="slide.alt" class="border-carousal">
    </ng-template>
  </ng-container>
 </owl-carousel-o>
