<app-header-text heading="Client Testimonials"></app-header-text>
<div class="cl-container">
  <div class="red-rect"></div>
  <div class="client-img"></div>
  <div class="comment">
    <div class="Group1346" ></div>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    <h5>Nina Margaret</h5>
    <p>CEO, Abc Company</p>
  </div>
</div>
