.cl-container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  height: 450px;
  .red-rect{
    width: 207px;
    height: 181.5px;
    border-radius: 5px;
    background-color: #a80e0e;
    position: absolute;
    left: 15%;
    margin-top: 13%;
  }
  .client-img{
    width: 335px;
    height: 318px;
    object-fit: contain;
    border-radius: 5px;
    background-image: url('../../assets/client/c1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    z-index: 2;
  }
  .Group1346{
    width: 49.8px;
    height: 42px;
    object-fit: contain;
    background-image: url('../../assets/svg/Group 1346.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .comment{
    width: 30%;
    margin: 2%;

  }

}
@media screen and (max-width: 600px) {
  .cl-container{
    height: 10em;
    .client-img{
      width: 40%;
      height: 73%;
    }
    .red-rect{
      width: 28%;
      height: 39%;
      left: 7%;
      margin-top: 20%;
    }
    .Group1346{
      width: 25%;
      height: 17%;
    }
    p {
      font-size: 3%;
    }
    h5 {
      font-size: 50%;
    }
  }
}
