<app-header-text></app-header-text>
<div class="df-sb">
  <div class="rec" [ngClass]="{'selected': item.isSelected}" *ngFor="let item of list">
    <img class="img" [src]="'assets/svg/'+item.src+'.svg'"/>
    <p class="imp">{{item.name}}</p>
  </div>
</div>



<div class="header-img"></div>
<div class="car-fetures">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of fetures; let i=index" >
        <ng-template carouselSlide [id]="slide.name" [width]="100" >
          <div class="small-card">
            <img [src]="'assets/svg/'+slide.src+'.svg'" [alt]="slide.name" height="36px" width="36px">
            <h5>{{slide.name}}</h5>
            <div class="line"></div>
            <p>{{slide.desc}}</p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
</div>
<div class="bottom-img"></div>
